.list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.card{
    border: 1px solid beige;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.card button{
    margin-top: 8px;
}
