a{
    text-decoration: none;
    color:white;
}

/*Navbar Tasarımı*/
nav{
    background-color: darkgreen;
}

#navbar{
    margin-left: 50px;
    margin-right: 50px;
    display:flex;
    justify-content: space-between;
}

#menu-items{
    line-height: 50px;
}

#menu-items ul{
    display: flex;
    list-style: none;
    gap:15px;
}

/* #menu-items ul li a{
    text-decoration: none;
} */

/*  Hero Section Tasarımı  */
#hero-section{
    border:1px solid rgb(3, 59, 59);
    height: 300px;
}

#hero-title{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:100px;
}

#hero-title h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Category Section Tasarımı*/
#category-section{
    height: 300px;
    display: flex;
    gap:20px;
    color:black;
}

#category-section div{
    margin-top:50px;
    width: 350px;
    height: 200px;
    background-color: blue;
    border:1px solid maroon;
    border-radius: 10px;
    overflow: auto;
}

#category-section div h2{
    text-align: center;
    line-height: 150px;
}

#category-section div:hover{
  background-color: cadetblue;
}

/*Footer tasarımı*/

footer{
    display:flex;
    justify-content: space-between;
}

/*About Styles*/
#contact-section{
    border:1px solid blueviolet;
}

#contact-form{
    padding:50px;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}

button{
    border:none;
    border-radius: 50px;
    color:green;
    cursor:pointer
}
